/* Algemene body stijlen */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Zorgt ervoor dat de achtergrond zich uitstrekt over de volledige hoogte van de pagina */
    /* Achtergrondafbeelding instellingen */
    background-image: url('images/23-238926_wolken-full-hd.jpg');
    background-size: cover; /* Zorgt ervoor dat de afbeelding altijd het volledige scherm vult */
    background-position: center; /* Centreert de afbeelding */
    background-repeat: no-repeat; /* Voorkomt herhaling */
    background-attachment: fixed; /* Zorgt ervoor dat de achtergrond vast blijft staan bij scrollen */
    /* Semi-transparantie voor alleen de achtergrondafbeelding */
    position: relative;
    opacity: 0.8;
}

html, body {
    overflow-x: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6); /* Pas de kleur en transparantie aan */
    z-index: -1; /* Zorgt ervoor dat de laag achter de content blijft */
}

#trefwoord-input {
    width: 300px;
    font-size: 16px;
    padding: 10px; /* Optioneel voor meer ruimte binnen de input */
}

.home-button {
    text-decoration: none;
    font-size: 20px;
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #f8f9fa;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.home-button:hover {
    background-color: #e2e6ea;
}


/* Header */
header {
    display: flex;
    justify-content: center; /* Dit zorgt ervoor dat de inhoud van de header centraal wordt uitgelijnd */
    align-items: center;
    padding: 20px 40px;
    background: linear-gradient(135deg, white, white);
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-position-x: center;
    background-size: cover;
}

header .logo {
    display: flex;
    justify-content: center; /* Zorgt ervoor dat het logo gecentreerd is binnen de header */
    flex-grow: 1; /* Laat het logo ruimte innemen */
    text-align: center;
}

header .logo h1 {
    font-size: 1.8em;
    font-weight: 600;
    margin: 0;
    text-decoration: none;
}

header h1 a {
    font-size: 1.5em;
    font-weight: 600;
    margin: 0;
    text-decoration: none;
    color: white;
}

.fcdk-titelbalk {
    display: flex;
    justify-content: center; /* Zorgt ervoor dat alles in het midden van de header staat */
    align-items: center; /* Verticaal centreren van de items */
    padding: 20px 40px;
    color: black;
    background-image: url('images/23-238926_wolken-full-hd.jpg');
    background-position: center;
    background-size: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.fcdk-titelbalk h1 {
    margin-right: 0; /* Zorgt ervoor dat de titel aan de linkerkant blijft */
}

.fcdk-titelbalk .dropdown {
    margin-left: auto; /* Zorgt ervoor dat de dropdown naar de rechterkant verschuift */
}

.serie-logo {
    display: none;
}


h3 {
    font-size: 1.4em;
    font-weight: 600;
    margin-top: 20px; /* Voeg hier de gewenste ruimte toe */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    transition: color 0.3s;
}


main {
    flex-grow: 1;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    padding: 20px;
}

.search-container {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    height: 50px;
    resize: vertical;
}

.checkbox-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    margin-top: 10px;
}

.checkbox-container label {
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: rgb(249, 186, 20);;
    color: black;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.radio-container button {
    color: black;
    font-weight: 600;
    gap: 10px; /* Dit voegt ruimte toe tussen de knoppen */
}

.radio-container button::content {
    font-weight: 400;
}


.radio-container button:last-child {
    margin-right: 0; 
}

.radio-container button:focus {
    background-color: rgb(249, 186, 20, 0.751);
    color: black;
}

button:hover {
    background-color: rgb(249, 186, 20);;
}

/* Footer */
/* footer {
    background-color: #232323;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
} */

footer {
    background-color: #232323;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 1em;
}

footer a {
    color: rgb(249, 186, 20);;
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover {
    color: #ffffff;
}

/* Adsense section */
.adsense {
    width: 100%;
    min-height: 100px;
    background: #ddd;
    margin: 20px 0;
    text-align: center;
    line-height: 100px;
}

/* Zorg ervoor dat beide containers goed naast elkaar staan */
.question-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap; /* Laat ze netjes op mobiel schalen */
    margin-top: 20px;
}

.radio-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

.radio-container label {
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
}

.input-container {
    margin-top: 10px;
}

/* Seizoen vraag stijl */
.season-container, .episode-container {
    max-width: 45%; /* Zorgt ervoor dat beide containers samen goed passen */
    display: flex;  /* Flexbox om inhoud te centreren */
    flex-direction: column; /* Plaats elementen onder elkaar */
    align-items: flex-start;  /* Verticaal centreren */
    justify-content: center; /* Horizontaal centreren */
    margin: 0 auto; /* Optioneel, centreert de container */
    text-align: center; /*Centreer alle tekst binnen de container */
}

.season-container label, .episode-container label {
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 10px; /* Zorgt voor wat ruimte tussen het label en de schuifregelaar */
}

/* Schuifregelaar stijl */
#season-slider, #episode-slider {
    width: 70%;  /* Stel de breedte in op 70% van de container */
    margin-top: 10px;
}

/* Weergegeven getal stijl */
#season-output, #episode-output {
    display: block;
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

/* Algemeen boxontwerp voor de verschillende secties */
.box-container {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc; /* Rand rondom */
    border-radius: 10px; /* Afgeronde hoeken */
    background-color: #f9f9f9; /* Achtergrondkleur */
}

/* Specifieke stijlen voor de vraagcontainers (seizoen en aflevering) */
.question-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/* Seizoen en aflevering containers */
.season-container, .episode-container {
    width: 48%; /* Zorgt ervoor dat ze naast elkaar staan, met een kleine ruimte */
}

/* Extra stijl voor de labels en input velden */
label {
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 10px;
}

.trefwoord {
    width: 30%;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1.2em;
    padding-left: 10px;
}

input[type="range"] {
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

output {
    display: block;
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

.results {
    margin-top: 20px;
}

.results li div {
    padding: 10px;
    background: #f1f1f1;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 100%; /* Zorgt ervoor dat elk item de volledige breedte van zijn gridcontainer inneemt */
    display: block;
    align-items: center;
    width: 100%;
    padding: 5px;
    text-decoration: none;
    color: black;
}

/* Algemene stijlen voor de resultatenlijst */
.results ul {
    list-style: none;
    flex-wrap: wrap; /* Laat de items naast elkaar staan, en naar beneden schuiven als er geen ruimte is */
    padding: 0;
    margin: 0;
}

.result-item {
    display: grid;
    grid-template-columns: 1fr auto; /* Titel links, pijl rechts */
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

/* Hover effect voor de link */
.results li div:hover {
    background: rgb(180, 179, 179);
}

/* Titel voor de resultaten (over de volledige breedte) */
.results h3 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 7px;
}

.results h4 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 7px;
}

/* Voeg extra stijlen toe voor de play-button-overige */
.results-container {
    display: block;
    align-items: left;
    width: 100%;
    font-size: 0.5em;
    padding: 5px;
    border-radius: 5px;
}

.highest-container {
    display: block;
    width: 100%;
    font-size: 1em;
    padding: 5px;
    border-radius: 5px;
}

.play-button {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

.play-button-overige {
    text-decoration: none;
    color: black;
}

/* Maak het hoogste resultaat over de volledige breedte */
#top-result {
    padding: 0 20px 0 0;
    text-decoration: none;
    color: black;
    display: block;
    width: 100%;
}

/* Maak het hoogste resultaat over de volledige breedte */
#results-list {
    padding: 0 20px 0 0;
}

.results li a span {
    margin-left: 10px; /* Voeg ruimte toe tussen de tekst */
}

.match-sentences {
    display: none;       /* Zorgt ervoor dat de lijst standaard verborgen is */
    width: 90%;          /* De breedte van de lijst */
    margin-left: 10em;
    padding-left: 20px;  /* Ruimte aan de linkerkant voor opsommingstekens */
    list-style-type: none; /* Verwijdert standaard opsommingstekens */
}

.match-sentences li {
    font-size: 0.9em;    /* Maat van de tekst */
    margin-bottom: 8px;  /* Ruimte tussen de items */
    margin-left: 2em;
    color: #333;         /* Kleur van de tekst */
    position: relative;  /* Voor het positioneren van de opsommingstekens */
}

.match-sentences li::before {
    content: "•";        /* Het opsommingsteken */
    position: absolute;
    left: -20px;         /* Verplaats het opsommingsteken naar links */
    top: 0;
    font-size: 1em;    /* Grotere opsommingstekens */
    color: #272828;      /* Kleur van het opsommingsteken */
}

.button-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-button {
    background-color: grey;
    color: white;
    border-radius: 20px;
    padding: 10px;
    width: 200px;
    font-size: 1.2em;
    margin: 5px;
    cursor: not-allowed;
}

.main-button:hover {
    background-color: rgb(249, 186, 20);;
    color: black;
    border-radius: 20px;
    padding: 10px;
    width: 200px;
    font-size: 1.2em;
    margin: 5px;
    cursor: pointer;
}

.inactive-button {
    background-color: grey;
    color: white;
    border-radius: 20px;
    padding: 10px;
    width: 200px;
    font-size: 1.2em;
    margin: 5px;
    cursor: not-allowed;
}
.dropbtn {
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown content - deze wordt zichtbaar bij hover */
.dropdown-content {
    display: none;
    position: absolute; /* Zorgt ervoor dat het menu goed gepositioneerd is */
    right: 0; /* Start het menu links van de knop */
    top: 100%; /* Zorgt ervoor dat het menu onder de knop verschijnt */
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    min-width: 200px;
    z-index: 1;
    border-radius: 5px; /* Voeg afgeronde hoeken toe */
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Dropdown items (links) */
.dropdown-content a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none; /* Verwijder onderlijning */
    border-bottom: 1px solid #ddd; /* Optioneel: voegt een subtiele lijn toe tussen de items */
    font-size: 1em;
}

/* Hover effect voor dropdown items */
.dropdown-content a:hover {
    background-color: #f1f1f1; /* Verandert de achtergrondkleur bij hover */
    color: black; /* Verandert de tekstkleur bij hover */
    border-radius: 5px; /* Voeg afgeronde hoeken toe */
}

/* Verwijder de onderste rand van het laatste item */
.dropdown-content a:last-child {
    border-bottom: none;
}

/* Standaard: de <br> is niet zichtbaar */
.break-line {
    display: none; /* Voorkomt dat de tekst automatisch wordt afgebroken */
}

.menu {
    display: flex;
    flex-direction: column; /* Dit is standaard, maar expliciet toegevoegd */
    justify-content: space-between; /* Verdeel ze netjes */
    align-items: center; /* Zorgt dat alles op dezelfde hoogte staat */
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}
.menu > div {
    display: flex;
    align-items: center;
}
.header-afbeelding {
    max-height: 100px; /* Pas de hoogte van de afbeelding aan naar wens */
    margin: 0 auto; /* Centreert de afbeelding */
    display: block;
}

p, li {
    text-align: justify;
}

.back-button {
    align-items: center;
    background-color: rgb(249, 186, 20);
    color: black;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    width: auto;
    font-size: 1em;
    margin-top: 10px;
}

.back-button:hover {
    background-color: rgb(199, 143, 1);
}
.dropdown {
    position: relative;
    align-items: center;
    margin-right: 30px;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    min-width: 200px;
    border-radius: 5px;
}
.dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.menu-button {
    background-color: rgb(249, 186, 20);;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.menu-button:hover {
    background-color: rgb(249, 186, 20);;
}

.intro {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 30px;
    max-width: 800px;
    margin: 50px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

.intro h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.intro p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
}

.search-options {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

.search-options li {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
}

.search-options li:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-options li strong {
    color: #007bff;
    font-weight: bold;
}

.intro ul, .intro p {
    margin-left: 20px;
    font-size: 16px;
}

@media only screen and (max-width: 700px) {

    .header-afbeelding {
        margin: 0 10px; /* Ruimte aan de zijkanten van de afbeelding */
        max-height: 50px; /* Pas de hoogte van de afbeelding aan naar wens */
        object-fit: contain; /* Zorgt ervoor dat de afbeelding niet vervormt */
        flex-grow: 1; /* Zorgt ervoor dat de afbeelding de beschikbare ruimte opvult */
        text-align: center;
    }

    header h1 a {
        font-size: 1em;
        font-weight: 600;
        margin: 0;
        text-decoration: none;
        color: white;
    }

    .search-container {
        width: 100%;
    }

    main {
        font-size: 0.9em;
    }

    button {
        font-size: 0.7em;
    }

    .question-container {
        flex-direction: column;
        align-items: stretch;
    }

    .season-container, .episode-container {
        width: 100%; /* Zorg ervoor dat deze containers de volledige breedte van het scherm innemen */
    }

    textarea {
        width: 100%;
        font-size: 0.9em;
        padding: 10px;
        margin-top: 5px;
        border-radius: 5px;
        border: 1px solid #ddd;
        height: 50px;
        resize: vertical;
    }

    .dropdown-content {
        min-width: 100%; /* Zorg ervoor dat het dropdown-menu de volledige breedte heeft */
    }

    .results {
        display: none;
        width: 100%;
    }

    .break-line {
        display: inline; /* Staat de tekst toe om automatisch af te breken */
    }

    p, li {
        text-align: justify;
        font-size: 0.8em;
    }

    /* Eventuele andere aanpassingen voor kleinere schermen */
}
